@import 'vars.scss';
@import 'components/thumbnail.scss';
@import 'components/info.scss';

@font-face {
  font-family: 'BerkshireSwash';
  src: url('assets/fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('assets/fonts/Lato-Light.ttf');
}

*, *:before, *:after {
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

body {
	background-image: url('assets/RijksLogoSideways.svg');
	background-repeat: no-repeat, no-repeat;
	background-size: 35%;
	background-position: top right, right;
	background-attachment: fixed;
	background-color: $color-lt-grey;
	font-family: 'Lato-Light', sans-serif;
}

#logo {
	display: block;
	padding: 1em;
	width: 90%;
	margin: 0 auto;
}

h1 {
	font-family: 'Lato-Bold', sans-serif;
	text-align: center;
	margin: .5em;
	color: $color-orange;
}

h3 {
	font-family: 'Lato-Bold', sans-serif;
}

p.loader {
	font-size: 1.5em;
	font-family: 'BerkshireSwash', sans-serif;
	color: $color-dk-grey;
	clear: both;
	margin: 1em 0;
	text-align: center;
}

.see-more {
	font-size: 1.5em;
	font-family: 'BerkshireSwash', cursive;
	text-shadow: 2px 2px 3px #333;
	display: block;
	margin: 0 auto;
	padding: .5em 1.5em;
	color: $color-white;
	background-color: $color-orange;
	margin-bottom: 2em;
	margin-top: 1.5em;
	border-radius: 20px;
	outline: none;
}

.see-more:hover {
	background-color: $color-blue;
}